RewriteEngine On
RewriteBase /admin
RewriteRule ^guesses/([a-z0-9]+)(/)?$ index.php?page=sites&action=$1 [L]
RewriteRule ^guesses/([a-z0-9]+)/([0-9]+)(/)?$ index.php?page=sites&action=$1&id=$2 [L]
RewriteRule ^guesses/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9]+)(/)?$ index.php?page=sites&action=$1&sort=$2&order=$3 [L]

RewriteRule ^users/([a-z0-9]+)(/)?$ index.php?page=users&action=$1 [L]
RewriteRule ^users/([a-z0-9]+)/([0-9]+)(/)?$ index.php?page=users&action=$1&id=$2 [L]

RewriteRule ^searched/([a-z0-9]+)(/)?$ index.php?page=guessattempts&action=$1 [L]
RewriteRule ^searched/([a-z0-9]+)/([a-z0-9]+)(/)?$ index.php?page=guessattempts&action=$1&listpage=$2 [L]
